<div class="card text-white bg-dark m-5" id="{{dataValues.id}}" name="post-container" onclick="">
    <div class="card-body pb-1 pt-3 px-4">
        <h4 class="card-title display-5">
            {{dataValues.title}}
            <h5>Posted on {{dataValues.date}} by {{dataValues.author}}</h5>
        </h4>
        <p class="card-text mt-4 truncate">
            {{dataValues.content}}
        </p>
    </div>
</div>